/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Body */
body {
  background-color: #f1f5f9;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}